@import 'styles/breakpoints';

.item {
  background-color: white;
  border-radius: 10px;
  display: flex;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.08));
  flex-direction: column;
  overflow: hidden;
  width: 335px;

  &-description {
    background-color: #EFF9FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  &-title {
    padding: 16px 16px 0 16px;

    h2 {
      color: #1875E8;
      font-size: 20px;
    }

    p {
      color: #444;
    }
  }

  &-image {
    height: 160px;
    margin: 0 auto;
    width: 335px;

    img {
      width: 100%;
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
  }

  &-price {
    align-items: center;
    background-color: #1875E8;
    color: white;
    display: flex;
    font-size: 20px;
    height: 70px;
    justify-content: center;
    width: 170px;
  }

  &-actions {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
  }

  &-action {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.itemInCart {
  align-items: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;

  .amount {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;

    svg {
      cursor: pointer;
    }
  }

  .item-actions {
    gap: 50px;
    justify-content: flex-end;
    padding: 0 50px;
  }

  @media (max-width: $mobile-sm) {
    .item {
      width: 335px;
    }

    .item-title {
      padding: 16px 16px 0 16px;
      width: 335px;

      p {
        width: 335px;
      }
    }

    .item-price {
      margin: 0 auto;
    }

    .item-info {
      flex-direction: column;
      gap: 15px;
      flex-direction: column-reverse;
    }
  }
}